.backG{
    background-color: darksalmon;
    animation: bg-color 10s infinite;
    -webkit-animation: bg-color 10s infinite;
    display: flex;
    height: 90vh;
}
@keyframes bg-color {
    0% { background-color: darksalmon; }
    20% { background-color: darkkhaki; }
    40% { background-color: darkcyan; }
    60% { background-color: darkolivegreen; }
    80% { background-color: rgb(182, 54, 54); }
    100% { background-color: darksalmon; }
}

.name{
    /* background-color: black; */
    color: black;
    text-shadow: aqua;
    text-align: left;
    position: fixed;
    font-size: 30px;
    left: 52%;
    top: 28%;
    transform: translate(-60%, 300%);
}
  
 