.backG{
    background-color: darksalmon;
    display: flex;
    height: 100vh;
}

.name{
    /* background-color: black; */
    color: black;
    text-shadow: aqua;
    text-align: center;
    font-size: 40px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-60%, 300%);
}

